.App {
  text-align: center;
}

.container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.text {
  user-select: none;
  pointer-events: none;
}

.rect {
  stroke: white;
  cursor: pointer;
}

.yellow {
  animation: glow 2s;
}

.green {
  animation: green-glow 2s;
}


@keyframes green-glow {
	0% {
    fill: rgb(3, 233, 72);
    opacity: 0;
	}
	100% {
    opacity: 1;
	}
}


@keyframes glow {
	0% {
    fill: rgb(252, 252, 0);
    opacity: 0;
	}
	100% {
    opacity: 1;
	}
}


.cell-glow	{

}