.App {
  text-align: center;
}

.container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.rect {
  stroke: white;
}

.yellow {
  animation: glow 2s;
}

@keyframes glow {
	0% {
    fill: rgb(252, 252, 0);
    opacity: 0;
	}
	100% {
    opacity: 1;
	}
}


.cell-glow	{

}